@import 'variables';
@import 'common';

.sidebar {
  &__nav {
    width: $offcanvas-width;

    @include media-breakpoint-up(lg) {
      -webkit-transform: none;
      transform: none;
      visibility: visible !important;
      height: calc(100% - $topNavbarHeight);
      top: $topNavbarHeight;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    & .right-icon {
      display: inline-flex;
    }

    &[aria-expanded="true"] .right-icon {
      transform: rotate(180deg);
    }
  }
}

